<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Pony Sticker</title>

        <link href="css/ponysticker.min.css" rel="stylesheet">

        <script src="cordova.js"></script>
        <script src="js/ponysticker.min.js"></script>

    </head>

    <body ng-app="ponysticker">
        <ion-side-menus enable-menu-with-back-views="true">
            <!--Center content-->
            <ion-side-menu-content>
                <!--Nav bar-->
                <ion-nav-bar class="bar-stable">
                </ion-nav-bar>

                <!--Main content-->
                <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>

            <!--Left menu-->
            <ion-side-menu side="left">
                <!--Header bar-->
                <ion-header-bar class="bar-positive">
                    <h1 class="title" translate>MENU_TITLE</h1>
                </ion-header-bar>

                <!--Menu content-->
                <ion-content ng-controller="MenuController as menu">
                    <ion-list>
                        <!--Favorite-->
                        <ion-item class="submenu-button"
                            ng-click="menu.toggleSubmenu('favorite')"
                            ng-class="{'submenu-opened': menu.showSubmenu('favorite')}"
                            translate>
                            MENU_FAVORITE
                        </ion-item>
                        <div class="submenu"
                            slide-toggle="!menu.showSubmenu('favorite')">
                            <ion-item class="item-submenu"
                                ui-sref="favorite.package({type: 'package'})"
                                nav-clear menu-close>
                                <span translate>
                                    MENU_PACKAGE
                                </span>
                            </ion-item>
                            <ion-item class="item-submenu"
                                ui-sref="favorite.sticker({type: 'sticker'})"
                                nav-clear menu-close>
                                <span translate>
                                    MENU_STICKER
                                </span>
                            </ion-item>

                        </div>

                        <!--Local-->
                        <ion-item class="submenu-button"
                            ng-click="menu.toggleSubmenu('local')"
                            ng-class="{'submenu-opened': menu.showSubmenu('local')}"
                            translate>
                            MENU_LOCAL_STICKER
                        </ion-item>
                        <div class="submenu"
                            slide-toggle="!menu.showSubmenu('local')">
                            <ion-item class="item-submenu"
                                ui-sref="local.package({type: 'package'})"
                                nav-clear menu-close>
                                <span translate>
                                    MENU_PACKAGE
                                </span>
                            </ion-item>
                            <ion-item class="item-submenu"
                                ui-sref="local.sticker({type: 'sticker'})"
                                nav-clear menu-close>
                                <span translate>
                                    MENU_STICKER
                                </span>
                            </ion-item>

                        </div>


                        <!--Donlowad-->
                        <ion-item class="submenu-button"
                            ng-click="menu.toggleSubmenu('download')"
                            ng-class="{'submenu-opened': menu.showSubmenu('download')}"
                            translate>
                            MENU_DOWNLOAD
                        </ion-item>
                        <div class="submenu"
                            slide-toggle="!menu.showSubmenu('download')">
                            <ion-item nav-clear menu-close
                                class="item-submenu"
                                ui-sref="download({repo: 'official'})">
                                <span translate>
                                    MENU_OFFICIAL
                                </span>
                            </ion-item>
                            <ion-item nav-clear menu-close
                                class="item-submenu"
                                ui-sref="download({repo: 'creator'})">
                                <span translate>
                                    MENU_CREATOR
                                </span>
                            </ion-item>
                            <ion-item nav-clear menu-close
                                class="item-submenu"
                                ui-sref="download({repo: 'custom'})">
                                <span translate>
                                    MENU_CUSTOM
                                </span>
                            </ion-item>
                        </div>

                        <!--Preference-->
                        <ion-item nav-clear menu-close
                            ui-sref="preference">
                            <span translate>
                                MENU_PREFERENCE
                            </span>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
    </body>
</html>
