<ion-view view-title="{{'FAVORITE_TITLE_'+favorite.type | translate}}">
    <ion-nav-buttons side="left">
        <!--Toggle button-->
        <button class="button button-icon
            button-clear ion-navicon"
            menu-toggle="left" >
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="item item-avatar thumbnail"
            collection-repeat="sticker in favorite.items"
            collection-item-width="'33%'"
            collection-item-height="'33%'"
            background-src="{{favorite.getItemImgUrl(sticker.id)}}"
            ng-click="stickerList.showActionSheet(sticker, favorite.itemImgs[sticker.id])"
            touch-active>
        </div>
    </ion-content>
</ion-view>
