<ion-view view-title="{{'LOCAL_TITLE_'+local.type | translate}}">
    <ion-nav-buttons side="left">
        <!--Toggle button-->
        <button class="button button-icon
            button-clear ion-navicon"
            menu-toggle="left" >
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--Tags button-->
        <button class="button button-icon 
            button-clear ion-pricetags"
            ng-click="local.tagModal.show()"></button>
    </ion-nav-buttons>

    <ion-content class="has-header has-subheader has-footer">
        <div class="list">
            <a class="item item-thumbnail-left"
                ng-repeat="pkg in local.getItems()"
                ui-sref="package({repo:'local', packageId: pkg.packageId})">
                <img ng-src="{{local.getItemImgUrl(pkg.packageId)}}" alt="{{pkg.packageId}}">
                <p>{{pkg.packageId}}</p>
                <h2>{{package.getTitle(pkg)}}</h2>
                <p>{{package.getAuthor(pkg)}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
