<ion-view view-title="{{'LOCAL_TITLE_'+local.type | translate}}">
    <ion-nav-buttons side="left">
        <!--Toggle button-->
        <button class="button button-icon
            button-clear ion-navicon"
            menu-toggle="left" >
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--Tags button-->
        <button class="button button-icon 
            button-clear ion-pricetags"
            ng-click="local.tagModal.show()"></button>
    </ion-nav-buttons>

    <ion-content delegate-handle="mainContent"
        class="has-header has-subheader">
        <div class="item item-avatar thumbnail"
            collection-repeat="sticker in local.items"
            collection-item-width="'33%'"
            collection-item-height="'33%'"
            background-src="{{local.getItemImgUrl(sticker.id)}}"
            ng-click="stickerList.showActionSheet(sticker, local.itemImgs[sticker.id])"
            touch-active>
        </div>
        <p class="text-info text-center"
            ng-if="local.hasNext"
            translate>LOCAL_SCROLL_FOR_MORE</p>  
        <ion-infinite-scroll
            on-infinite="local.loadMore()"
            ng-if="local.hasNext"
            distance="10%"
            immediate-check="true">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
