<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-outline button-positive"
                ng-click="local.tagModal.hide()"
                translate>LOCAL_TAGS_COMPLETE</button>
        </div>
        <h1 class="title" translate>LOCAL_CHOOSE_TAGS</h1>
        <div class="buttons">
            <button class="button button-outline button-assertive"
                ng-click="local.clearTags()"
                translate>LOCAL_TAGS_CLEAR</button>
        </div>
    </ion-header-bar>
    <!--Search bar-->
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search"
            placeholder="{{'LOCAL_SEARCH' | translate}}"
            ng-model="local.query">

        </label>
    </div>

    <!--Main content-->
    <ion-content class="has-header has-subheader">
        <div class="list">
            <!--Selected-->
            <div class="item item-divider" translate>
                TAGS_SELECTED
            </div>
            <a class="item item-icon-right animation-flip"
                ng-repeat="tag in local.getKeys(local.selected) | filter:local.query"
                ng-click="local.deleteTag(tag)">
                {{tag}}
                <i class="icon ion-minus-circled text-danger"></i>
            </a>

            <!--Unselected-->
            <div class="item item-divider" translate>
                TAGS_UNSELECTED
            </div>
            <a class="item item-icon-right animation-flip"
                ng-repeat="tag in local.getKeys(local.unselected) | filter:local.query"
                ng-click="local.addTag(tag)">
                {{tag}}
                <i class="icon ion-plus-circled text-info"></i>
            </a>
        </div>
    </ion-content>
</ion-modal-view>
