<ion-view view-title="{{package.packageId}}">
    <!--Back button-->
    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <!--More button-->
        <button class="button button-icon 
            button-clear ion-pricetags"
            ng-if="!package.remote"
            ng-click="package.showMorePopover($event)"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <!--Card top-->
            <div class="item item-avatar">
                <img ng-src="{{package.getTabOnUrl()}}" alt="{{package.packageId}}">
                <h2>{{package.getTitle()}}</h2>
                <p>{{package.getAuthor()}}</p>
            </div>

            <!--Card center-->
            <div class="item item-body">
                <!--Download button-->
                <button class="button button-block
                    button-balanced"
                    ng-click="package.download()"
                    ng-if="package.remote"
                    translate>
                    PACKAGE_DOWNLOAD
                </button>

                <!--Download progress-->
                <progress max="{{package.meta.stickers.length + 1 + 1}}"
                    value="{{package.progress()}}"
                    ng-show="package.isDownloading"></progress>
                <!--Delete button-->
                <button class="button button-block
                    button-assertive"
                    ng-if="!package.remote"
                    ng-click="package.deletePackage()"
                    translate>
                    PACKAGE_DELETE
                </button>
            </div>
        </div>
        <!--Previews-->
        <div class="item item-avatar thumbnail"
            collection-repeat="sticker in package.meta.stickers"
            collection-item-width="'33%'"
            collection-item-height="'33%'"
            background-src="{{package.getStickerUrl(sticker)}}"
            ng-click="package.showActionSheet(sticker)"
            touch-active>
        </div>
    </ion-content>
</ion-view>
