<ion-popover-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title" translate>PACKAGE_MORE</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item" 
                ng-if="!package.favorite"
                ng-click="package.addFavorite();
                        package.morePopover.hide()"
                translate>
                PACKAGE_ADD_FAVORITE
            </a>
            <a class="item"
                ng-if="package.favorite"
                ng-click="package.removeFavorite();
                        package.morePopover.hide()"
                translate>
                PACKAGE_REMOVE_FAVORITE
            </a>
            <a class="item"
                ui-sref="tags({type:'package', id: package.packageId})"
                ng-click="package.morePopover.hide()"
                translate>
                PACKAGE_SET_TAGS
            </a>
        </div>
    </ion-content>
</ion-popover-view>
